<!-- logo and C/f button  START -->
<!-- Left column with Logo start -->
<section>
  <div class="row">
    <div class="col-6 text-left">
      <div>
        <h1>Accurate Weather</h1>
      </div>
    </div>
    <div class="col-6 text-right">
      <div>
        <mat-button-toggle-group name="tempUntType" aria-label="Temperature Unit Type">
          <mat-button-toggle value="celsius" role="button" aria-pressed="false">C</mat-button-toggle>
          <mat-button-toggle value="fahrenheit" role="button" aria-pressed="false">F</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</section>
<!-- Left column with Logo end -->
<!-- logo and C/f button  START -->
