.header {
  background-image: url('../../images/toronto-skyline-lake-ontario-sunset-canada-1600x900.jpg');
  background-repeat: no-repeat;
  // background-size: 100% 100%;
  background-position: 0 0;
  // cover
    background-size:cover;
    background-position-y: -90px;
}

.dashboard {
  font-family: Arial, Helvetica, sans-serif;
  .formDiv{

  }
}
