<div class="header">
  <div class="row">
    <div class="col-12" style="text-align: center;">
      <div class="title" style="width:100%; padding: 10%;background-color: transparent;">
        <h1>
          My Weather App
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div>
        <div class="row">
          <!------------------>
          <div class="col-12">
              <div>
                <form action="" [formGroup]="findCityForm">
                  <!-- form row for input field starts here -->
                  <div class="row" style="border: 1px solid greenyellow;">
                    <div class="col-lg-10 col-md-8 col-sm-12 m-auto" style="text-align: center;">
                      <div style="width: 100%;">
                        <mat-form-field style="width:100%;padding:3%">
                          <input matInput placeholder="Enter name of the city" (ngSubmit)="getWeatherForCity()"
                            formControlName="nameOfCity">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 m-auto" style="text-align: left;">
                      <div>
                        <button mat-raised-button class="col-auto">
                          Search
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- Form row for input field ends here -->
                </form>
              </div>
            </div>
          <!--------------------->
        </div>
        <div class="row"></div>
        <div class="row"></div>
      </div>
    </div>
  </div>
</div>








































<div class="container">
  <div class="dashboard">
    <div class="row mainRow">
      <div class="col-12 mainCol">
        <div class="">
          <!-- FIRST ROW START-->
          <div class="row">
            <div class="col-12" style="text-align: center;">
              <h2>
                <strong>
                  This is header
                </strong>
              </h2>
            </div>
          </div>
          <!-- SECOND ROW START-->
          <div class="row">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
