
<section class="pad-10-all">
  <!-- Current Temp and Search article START -->
  <article>
    <section>
      <div class="row">
        <div class="col-4 col-lg-4 col-md-6 col-sm-12">
          <h2 class="cityName">
            Toronto
          </h2>
          <div class="flex flex-justify-content-space-between" style="align-items: flex-start;">
            <div class="leftBox">
              <div class="flex">
                <h3 style="font-size: 50px;">36</h3>
                <sup style="margin-top: 25px;font-size: larger;font-weight: 500;">o</sup>
                <sup style="margin-top: 28px;margin-left: 5px; font-size: larger;font-weight: 500;">C</sup>
              </div>
              <p>
                Partly Cloudily
              </p>
            </div>
            <div class="rightBox pad-10-all">
              <p>
                Max : <span>36 Degree</span>
              </p>
              <p>
                Min : <span>10 Degree</span>
              </p>
              <p>
                Humidity : <span>50%</span>
              </p>
            </div>
          </div>

        </div>
        <div class="col-8 col-lg-8 col-md-6 col-sm-12">
          <div class="text-right">
            <mat-form-field class="example-full-width" style="width: 70%;">
              <mat-label style="color: white;">Toronto</mat-label>
              <input matInput placeholder="Place" value="Sushi">
            </mat-form-field>
          </div>
          <div class="flex" style="justify-content: flex-end;">
            <p class="pad-v-10">
              North Caroline
            </p>
            <p class="pad-v-10">
              Mississauga
            </p>
            <p class="pad-10-left">
              Brampton
            </p>
          </div>
        </div>
      </div>
    </section>
  </article>

  <section class="mar-15-bottom">
    <button class="pad-5-all" mat-button role="button" aria-label="5 days weather" style="background-color: black;color: white;">Next 5 days forecast</button>
  </section>
   <!-- Current Temp and Search article END -->
   <mat-divider style="background-color: white;"></mat-divider>
   <!-- Forecast of weather table START -->
   <section class="pad-15-top">
    <app-fivedayforecast></app-fivedayforecast>
   </section>

  <!-- Forecast of weather table END -->
</section>









<!-- OLD Structure -->
<!-- <div class="">
  <header class="header">
    <section class="row mb-3">
      <div class="col-12 text-center">
        <title class="titleDiv">
          <h1>
            My Weather App
          </h1>
        </title>
      </div>
    </section>
  </header>
<div class="container">
    <div class="row">
      <div class="col-12">
        <div style="text-align:center;">
          <mat-error *ngIf="failRequest">
            {{errMessage}}
          </mat-error>
        </div>
        <div>
          <div class="row">
            <div class="col-12">
              <div>
                <form action="" class="formStyle mb-3" (ngSubmit)="getWeatherForCity(findCityForm.value)"
                  [formGroup]="findCityForm">

                  <div class="row">
                    <div class="col-lg-10 col-md-8 col-sm-12 m-auto text-center">
                      <div class="w-100">
                        <mat-form-field>
                          <input matInput placeholder="Enter name of the city" (ngSubmit)="getWeatherForCity()"
                            formControlName="nameOfCity" required>
                          <mat-error *ngIf="failRequest">
                            {{errMessage}}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 m-auto text-left">
                      <div>
                        <button mat-raised-button class="col-auto" type="submit" (click)="displayWeather = true">
                          Search
                        </button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
              <div class="text-center" *ngIf="cityWeather">
                <h5>
                  Current weather and forecast for the city
                </h5>
              </div>
            </div>
          </div>
          <div class="row mt-3" *ngIf="cityWeather">
            <div class="col-12" style="text-align: center;">
              <div>
                <mat-button-toggle-group #tempConverterGroup="matButtonToggleGroup" value="fahrenheit"
                  (click)="switchUnit(tempConverterGroup.value)">
                  <mat-button-toggle value="celsius">&#8451;</mat-button-toggle>
                  <mat-button-toggle value="fahrenheit">&#8457;</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>

            <div class="col-8">

              <div class="row">
                <div class="col-12">
                  <div>
                    <h2>
                      {{cityWeather.name}}, {{cityWeather.sys.country}} {{weatherInDegrees}}
                      <span clas="logoF" *ngIf="tempConverterGroup.value == 'fahrenheit'">
                        &#8457;
                      </span>
                      <span class="logoC" *ngIf="tempConverterGroup.value == 'celsius'">
                        &#8451;
                      </span>
                    </h2>
                    <h4 *ngFor="let info of cityWeather.weather; i as index">
                      {{info.description | capitalize}}
                    </h4>
                  </div>
                </div>
                <div class="col-1">
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-6">
                  <div>
                    <strong>
                      Max Temperature:
                    </strong>
                    <span>
                      {{cityWeather.main.temp_max | tempconverter}} &#8457;
                    </span>
                  </div>
                  <div>
                    <strong>
                      Min Temperature:
                    </strong>
                    <span>
                      {{cityWeather.main.temp_min | tempconverter}} &#8457;
                    </span>
                  </div>

                </div>
                <div class="col-6">
                  <div>
                    <strong>
                      Humidity:
                    </strong>
                    <span>
                      {{cityWeather.main.humidity}}
                      <span>
                        %
                      </span>
                    </span>
                  </div>
                  <div>
                    <strong>
                      Pressure
                    </strong>
                    <span>
                      {{cityWeather.main.pressure}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="cityWeather">
          <div class="col-12 text-center">
            <div class="mb-4">
              <button mat-raised-button type="button" (click)="showForecast = !showForecast;this.getForecastedWeather(findCityForm.value);">
                Show me forecast
              </button>
            </div>
          </div>
          <div class="col-12 text-center" *ngIf="showForecast">
            <div class="mb-3">
              <h3>
                5 Day weather forecast
              </h3>
            </div>
          </div>
          <div class="col-12" *ngIf="showForecast">
            <div>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th scope="col text-center">
                      <h5>
                        Date
                      </h5>
                    </th>
                    <th scope="col">
                      <h5>
                        Time
                      </h5>
                    </th>
                    <th scope="col">
                      <h5>
                        Weather
                      </h5>
                    </th>
                  </tr>
                  <tr *ngFor="let day of forecastedWeather.list; i as index">
                    <td>
                      <p class="">
                        {{day.dt_txt | date:'medium'}}
                      </p>
                    </td>
                    <td>
                      <p>
                        {{day.dt_txt | date:'shortTime'}}
                      </p>
                    </td>
                    <td>
                      <p>
                        <span>
                          Max Temp:
                        </span>
                        {{day.main.temp_max | tempconverter}} &#8457;</p>
                      <p>
                        <span>
                          Min Temp:
                        </span>
                        {{day.main.temp_min | tempconverter}} &#8457;</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- OLD Structure -->




<!-- ========== Saved Location Logic ==================== -->
<!-- <div class="show-weather grid-start row">
  <div class="col-4 text-center side-border">
    <section class="left-section">
      <header>
        <h3>
          Saved Location
        </h3>
      </header>
    </section>
  </div>
  <div class="col-8">
    <section class="right-section">
      <div class="row mt-3" *ngIf="cityWeather">
        <div class="col-4">
          <header>
            <h4>
              {{cityWeather.name}}, {{cityWeather.sys.country}}
            </h4>
            <p class="weather-in-degree">
              {{weatherInDegrees}}
              <span class="logoF" *ngIf="tempConverterGroup.value == 'fahrenheit'">
                &#8457;
              </span>
              <span class="logoC" *ngIf="tempConverterGroup.value == 'celsius'">
                &#8451;
              </span>
            </p>
            <p>
              <strong *ngFor="let info of cityWeather.weather; i as index">
                {{info.description | capitalize}}
              </strong>
            </p>
          </header>
        </div>
        <div class="col-8">
          <div>
            <mat-button-toggle-group #tempConverterGroup="matButtonToggleGroup" value="fahrenheit"
              (click)="switchUnit(tempConverterGroup.value)">
              <mat-button-toggle value="celsius">&#8451;</mat-button-toggle>
              <mat-button-toggle value="fahrenheit">&#8457;</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
    </section>
        <div class="row mb-4">
            <div class="col-6">
              <div>
                <strong>
                  Max Temperature:
                </strong>
                <span>
                  {{cityWeather.main.temp_max | tempconverter}} &#8457;
                </span>
              </div>
              <div>
                <strong>
                  Min Temperature:
                </strong>
                <span>
                  {{cityWeather.main.temp_min | tempconverter}} &#8457;
                </span>
              </div>

            </div>
            <div class="col-6">
              <div>
                <strong>
                  Humidity:
                </strong>
                <span>
                  {{cityWeather.main.humidity}}
                  <span>
                    %
                  </span>
                </span>
              </div>
              <div>
                <strong>
                  Pressure
                </strong>
                <span>
                  {{cityWeather.main.pressure}}
                </span>
              </div>
            </div>
          </div>
      </div>
    </div> -->
<!-- ==================================================== -->
