/* You can add global styles to this file, and also import other style files */
@import "variables";
@font-face {
  font-family: FontAvenirRegular;
  // /font/AvenirNext_Regular.ttf
  src: url(font/AvenirNext_Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: $black;
}

@font-face {
  font-family: FontAvenirMedium;
  src: url(font/AvenirNext_Medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: FontAvenirMediumItalic;
  src: url(font/AvenirNext_MediumItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: FontAvenirHeavy;
  src: url(font/AvenirNext_Heavy.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: FontAvenirLight;
  src: url(font/AvenirNext_UltraLight.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: FontAvenirUltraLight;
  src: url(font/AvenirNext_UltraLightItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  // max-width: -webkit-fill-available;
  // max-height: fit-content;

  @media screen and (max-width: 775px) {
    max-width: 100%;
  }

  background-color: $lightGrey;

  .greenBg {
    background-color: $green;
  }

  .whiteBg {
    background-color: white;
  }


  p,
  strong,
  a,
  span,
  input {
    font-family: FontAvenirRegular;
  }

  h2,
  h4,
  h6 {
    font-family: FontAvenirMedium;
  }

  h5 {
    font-family: FontAvenirRegular;
    color: $black;
  }
  }

  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.headerRow {
  width: 100%;
  margin: 0px;
  background-color: $lightGrey;
  // .userInfo {
  //   width: 100%;
  //   text-align: right;
  //   div,p{
  //     display: inline-block;
  //   }
  //   .userImg {
  //     width: 30px;
  //     height: 30px;
  //     border-radius: 50%;
  //     background-color: purple;
  //     margin-right: 1%;
  //   }
  //   .userName {
  //     color: $blueTextColor;
  //     font-weight: $light;
  //   }
  // }
}

.sidebar-container {
 position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
